---
import PTExtended from "../../components/portabletext/PTExtended.astro"
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";
export const prerender = false;
export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

const { slug } = Astro.params

const post = await getPost(slug);
---

<Layout title={post.title!}>
  <section class="post">
    {
      post.mainImage ? (
        <img
          class="post__cover"
          src={urlFor(post.mainImage).width(1600).url()}
          alt="Cover image"
        />
      ) : (
        <div class="post__cover--none" />
      )
    }
    <div class="container post_inner">
      <div class="post__head flow">
        <h1 class="heading heading--h1-alt">{post.title}</h1>
        <p class="post__date">
          {formatDate(post._createdAt)}
        </p>
        <p class="post__excerpt">{post.excerpt}</p>
      </div>
      <PTExtended value={post.body} />
    </div>
  </section>
</Layout>

<style>

  .post_inner {
    align-content: start;
    background-color: #fefefe;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 5rem 2rem;
  }

  .post__cover {
    height: 75dvh;
    object-fit: cover;
    width: 100%;
  }

  .post_inner :global(a:hover) {
    color: var(--color-blue);
  }

  .post_inner :global(p:first-of-type) {
    font-size: clamp(1.5rem, 0.375rem + 2vw, 2rem);
  }

  :global(p code) {
    background-color: #f1f1f1;
    display: inline-block;
    font-size: 1rem;
    padding: 0.125rem;
  }

  @media (min-width: 700px) {
    .post_inner {
      gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .post_inner :global(*:not(.post__head):not(img)) {
      grid-column: 3 / span 2;
    }

    .post_inner .post__head {
      grid-column: 1 / span 2;
    }

    .post_inner :global(img) {
      grid-column: 2 / span 3;
      height: auto;
      max-width: 100%;
    }
  }

  @media (min-width: 1024px) {
    .post_inner {
      padding: 5rem calc(100px + 3rem);
    }
  }
</style>