---
export interface Props {
  intro?: string;
  url1?: string;
  cta1?: string;
  url2?: string;
  cta2?: string;
}

const { intro, url1, cta1, url2, cta2 } = Astro.props;

---

<div class="callout">
  {intro ? <p>{intro}</p> : null}
  <div class="callout__cta">
    <a class="btn btn--primary" href={url1}>{cta1}</a>
    <a class="btn btn--primary" href={url2}>{cta2}</a>
  </div>
</div>

<style>
.callout {
  background-color: rgb(33 118 255 / 10%);
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
}

.callout__cta {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: center;
}

.btn--primary {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 4px;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--color-pink);
  border-color: var(--color-pink);
  color: var(--color-white) !important;
}
</style>