---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";

const { post } = Astro.props;
---

<div class="card">
  {
    post.mainImage ? (
      <img
        class="card__cover"
        src={urlFor(post.mainImage).width(500).height(300).url()}
        alt="Cover image"
      />
    ) : (
      <div class="card__cover--none" />
    )
  }
  <div class="card__container">
    <h3 class="card__title">
      <a
        class="card__link"
        href={`/blog/${post.slug.current}`}
      >
        {post.title}
      </a>
    </h3>
    <p class="card__excerpt">{post.excerpt}</p>
    <p class="card__date">
      {formatDate(post._createdAt)}
    </p>
  </div>
</div>

<style>
  .card {
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.03);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    transform: scale(1);
    transition:
      transform 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;

    &:hover,
    &:focus {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      transform: scale(1.025);
    }

    & .card__container {
      margin: 0 var(--space-1) 0;
    }

    & .card__cover {
      width: 100%;
      height: 231px;
      object-fit: cover;
    }

    & .card__cover--none {
      width: 100%;
      height: 231px;
      background: var(--black);
    }

    & .card__title {
      font-family: var(--font-family-sans);
      font-weight: 800;
      font-size: var(--font-size-7);
      line-height: var(--line-height-6);
      letter-spacing: -0.025em;
      margin: var(--space-3) 0;
    }

    & .card__excerpt {
      font-family: var(--font-family-serif);
      font-weight: 400;
      font-size: var(--font-size-4);
      line-height: var(--line-height-3);
      margin-top: 0;
    }

    & .card__date {
      font-weight: 600;
      font-family: var(--font-family-sans);
      font-size: var(--font-size-1);
      margin-top: calc(var(--space-4) + 7);
    }

    & .card__link {
      color: var(--black);
      text-decoration: none;
    }
  }
</style>
